:root {
  --bg: #0B1220;
  --wrap: #1f2737;      
  --panel: #8ac1ff;     
  --paper: #FFFFFF;     
  --text: #111827;
  --muted: #6B7280;
  --accent: #3B82F6;
  --border: #E5E7EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  
}

header{
  background-color: var(--panel);
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerSelect{
  display: flex;
  gap: 10px;
}

.headerSelect img {
  height: 100%;
  max-height: 40px;
}

.pageWrapper{
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: clamp(300px, 100%, 700px);
  background-color: var(--wrap);
}

section{
  padding: 1rem;
  margin: 1rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  background-color: var(--paper);
}

.summarySec {
  height: 150px
}

@media(max-width: 720px){
  section {
    width: 90%;
  }
}